.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 242px;
    left: 0px;
    top: 0px;
    gap: 2.5rem;
    width: 242px;
    height: 100vh;
    padding: 20px 0 272px 0;
}