@font-face {
    font-family: Poppins;
    src: url(../../../public/assets/fonts/Poppins/Poppins-Medium.ttf);
}

.dashboard {
    --font-poppins: Poppins, system-ui, sans-serif;
    --font-weight-medium: 500;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding-left: 3.125rem;
    flex-wrap: wrap;
}

.dashboardHeaderText {
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.75;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
}

.summaryCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.summaryCardsContainer,
.infoCardsContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: space-between;
}

.infoCardsContainer .card {
    flex: 1 1 auto;
    max-width: 200px;
    min-width: 200px;
    padding: 1rem;
    box-sizing: border-box;
}


.two {
    display: flex;
    flex-direction: column;
}

.three {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }

    .three {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}